DATABASE_URL=postgresql://root:password@localhost:5432/urlshortener
APP_DOMAIN=localhost:3000
JWT_SECRET=your-secret-access-token
JWT_REFRESH_SECRET=your-secret-refresh-token
NODE_ENV=development
VITE_API_URL=http://localhost:5173